.input {
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #000;
    transition: all .3s linear;
}

.input:focus {
    border-left: 1px solid rgba(0, 0, 255, 0.536);
    border-bottom: 1px solid rgba(0, 0, 255, 0.536);
    border-top: 1px solid rgba(0, 0, 255, 0.536);
}