.btn {
    padding: 10px 15px;
    background: #3e77f296;
    cursor: pointer;
    color: #fff;
    border-left: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}