.cell {
  padding: 5px 10px;
  float: left;
  width: 20%;
}

@media (max-width:600px) {
  .cell {
    font-size: 14px;
  }
}

@media (max-width:420px) {
  .cell {
    width: 100%;
    padding: 5px 0px;
  }
}