.cell {
  padding: 5px 10px;
  text-align: center;
  float: left;
  width: 20%;
}

// .cell:nth-child(odd) {
//   display: none;
// }

@media (max-width:600px) {
  .cell {
    font-size: 14px;
  }
}

@media (max-width:420px) {
  .cell {
    padding: 5px 0px;
  }

  // .cell:nth-child(odd) {
  //   display: block;
  // }
}