.table {
  text-align: center;
  display: table;
  max-width: 1600px;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;

  &__body {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
  }

  &__name {
    margin-bottom: 20px;
  }
}