*,
::after,
::before {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  background: #6aedff;
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 20px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width:600px) {
  .container {
    padding: 10px;
  }
}

